body{
    background-color: #fff;
    display: flex;
    text-align: center;
}

.neft0{
    color: red;
    font-family: sans-serif;
    font-weight: 800;
    font-size: 150px;
    padding-top: 100px;
    padding-left: 300px;
}

.neft1{
    color: red;
    font-family: sans-serif;
    font-weight: 800;
    font-size: 150px;
    padding-top: 100px;
}

.neft2{
    color: red;
    font-family: sans-serif;
    font-weight: 800;
    font-size: 150px;
    padding-top: 100px;
}

.neft3{
    color: red;
    font-family: sans-serif;
    font-weight: 800;
    font-size: 150px;
    padding-top: 100px;
}

.neft4{
    color: red;
    font-family: sans-serif;
    font-weight: 800;
    font-size: 150px;
    padding-top: 100px;
}

.neft5{
    color: red;
    font-family: sans-serif;
    font-weight: 800;
    font-size: 150px;
    padding-top: 100px;
}

.neft6{
    color: red;
    font-family: sans-serif;
    font-weight: 800;
    font-size: 150px;
    padding-top: 100px;
}